*{
    padding: 0;
margin: 0;
box-sizing: border-box;}
body{
    background-color: floralwhite;
}
.navbar{
    display: flex;
    
    background-color: floralwhite;
}
.logo{
    width: 9rem;
}
.navbar > a{
    text-decoration: none;
    color: crimson;
    padding: 1rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: blanchedalmond;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: blanchedalmond;
}

.card-group{
    width: 100%;
    border: 1px solid crimson !;
    padding: 6rem!important;
    justify-content: space-between;
}
.card-img-top{
    padding: 1.5rem;
    height: 250px;
   width: 30%;
   object-fit: cover;
   
}
.detail-btn  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
    
}
button{
    background-color: blanchedalmond;
    color: crimson;
    padding: 0.5rem;
    
    border: none;
    
}

button > a{
    text-decoration: none;
    color: crimson;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: blanchedalmond;
}
.icons{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#submit{
    color: crimson;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}
.menu-check{
    display: flex;
    justify-content: space-evenly;
    
    
}
.custom-card{
    display: flex;
    justify-content: center;
    align-items: center;
}


th{
    background-color: blanchedalmond;
}

  
  
/*MEDIA QUERIES*/
@media  screen and (min-width:320px)and (max-width:767px){
    .navbar{
        flex-direction: column;
        
    }
    .navbar > a{
        background: none;
    }
    .card{
        flex-direction: column;
        width: 100%;
    }
    .menu-check{
        flex-direction: column;
        width: 90%;
        padding: 1rem;
        align-items: center;
    }
}